*{
	box-sizing: border-box;
}
body{
	font-family: 'Roboto', sans-serif;
	background-image: url(img/patt.png);
}
.conteiner
{
	width: 1170px;
	margin:0 auto;

}
[class*="col-"]{
	float: left;
}
.col-md-3{
	width: 25%;
}
.col-md-6{
	width: 50%;
}
.col-md-1{
	width: 8%;
}
.col-md-7{
	width: 92%;
}
.row:after{
	content: "";
	display: block; 
	clear: both;
}
.header{
	background-color: rgba(255,255,255,0.75);
	padding: 25px 0;
}
.menu li{
	width: 25%;
	float: left;
	border-left: 1px solid #2c71b8;
}
.menu li:last-child{
	border-right: 1px solid #2c71b8;
}
.menu a{
	display: block;
	height: 50px;
	text-align: center;
	line-height: 50px;
	text-decoration: none;
	font-size: 21px;
	color: #2c71b8;
}
.menu1{
	list-style: none; /*убираем маркеры списка*/
  	margin: 0; /*убираем отступы*/
  	padding-left: 0; /*убираем отступы*/
  	height: 40px; /*задаем высоту*/
  	border: 1px;
}
.menu1 a{
	text-decoration: none; /*убираем подчеркивание текста ссылок*/
	background: #2c71b8; /*добавляем фон к пункту меню*/
	color: white; /*меняем цвет ссылок*/
	padding:0px 15px; /*добавляем отступ*/
	display: block; 
	width: 286px;
	text-align: left;
	margin-left: -1px;
	border: 1px;
}
.menu li:hover>a{
	background-color: #2c71b8;
	color: white;
}
.menu1 li:hover>a{
	background-color: white;
	color: #2c71b8;
}
 /*Стили для скрытого выпадающего меню*/
    .menu li > ul {
        position:absolute;
        display:none;   
    }
     
    /*Делаем скрытую часть видимой*/
    .menu li:hover > ul {
        display:block; 
        width:250px;  /*Задаем ширину выпадающего меню*/     
    }
	.menu li:hover > ul > li {
        float:none; /*Убираем горизонтальное позиционирование*/
    }
.logo img{
	padding-top: 8px;
}
.border {
  /* устанавливаем ширину формы,
  ** равную ширине поля ввода (183 + 37 + 15)	*/
  width: 200px;
  height: 40px;
	text-align: center;
	margin-left: 32px;
	margin-top: 5px;
	border: 1px solid #2c71b8;
	line-height: 50px;
	position: relative;
}
.search{
  height: 40px;
}
.search input{
  float: left;
background-color: transparent;
  /*display: flex;*/
  justify-content: center;
  align-items: center;
  border:none;
  /*height: 7em;*/
/* стили для поля ввода */
  width: 200px;
  height: 40px;
  /* внутренний отступ справа (37px) делаем больше левого,
  ** т.к. там будет размещена кнопка отправки	*/
  padding: 0 37px 1px 15px;
  outline: none;
  color: #2c71b8;
  font-size: 21px;
  font-family: roboto;
  font-weight: lighter;
}
.search input::-webkit-input-placeholder{
	color: #2c71b8;
}
/* оформляем кнопку отправки */
.submit{
  width: 30px;
  height: 30px;
  /* смещаем кнопку влево на собственную ширину,
  ** чтобы она оказалась над полем ввода */
  margin-left: 163px;
  margin-top: 4px;
  float: left;
  position: absolute;
  top: 0;
}
.submit input{
	  width: 30px;
  height: 30px;
  background: url(img/magnifier.png) no-repeat;
  background-position: center;
  background-color: #2c71b8;
  float: left;
  border: none;
}
.basket {
	float: left;
	
}
.basket4{
	margin-left: 20px;
	margin-top: -3px;
	z-index: 1;
	position: relative;
	float: left;
	width: 20px;
	height: 20px;
	border: 1px solid #2c71b8;
	border-radius: 10px;
	background-color: #2c71b8;
	text-align: center;
	color: white;
}
.basketimg{
	margin-left: 30px;
	width: 40px;
	height: 40px;
position: relative;
top: 5px;
	background: url(img/icon.png) no-repeat;
	background-color: white;
  background-position: center;
}
.img{
	background-image: url(img/arrow1.png);
	background-repeat: no-repeat;
	background-position: 90%;
	/*position: relative;
	top: -31px;
	left: 122px;
	height: 12px;
	width: 12px;*/
}
.menu li:hover>.img{
	background-color: #2c71b8;
	color: white;
	
	background-image: url(img/arrow2.png);
}
